.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.banner-section {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(143, 193, 224, 0.623)), color-stop(rgba(45, 86, 112, 0.795)), to(rgba(42, 73, 94, 0.925))), url("../images/Banner/section1.png");
  background-image: linear-gradient(to left, rgba(143, 193, 224, 0.623), rgba(45, 86, 112, 0.795), rgba(42, 73, 94, 0.925)), url("../images/Banner/section1.png");
  background-size: cover;
  height: 85vh;
  background-position: center;
  overflow: hidden;
}

.banner-section .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}
.banner-section .col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner-section h1 {
  font-size: 52px;
  font-weight: 600;
  color: white;
  line-height: 66px;
  margin-bottom: 10px;
}
.banner-section .more {
  color: white;
  font-size: 22px;
  line-height: 23px;
}
.banner-section .col-wrapper {
  padding-top: 170px;
}
.banner-section .js-img {
  text-align: right;
  background-image: url("../images/Banner/js.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right center;
  height: 100%;
  width: 100%;
}

.card-section {
  background-color: rgb(34, 34, 34);
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(143, 193, 224, 0.623)), color-stop(rgba(45, 86, 112, 0.795)), to(rgba(42, 73, 94, 0.925)));
  background-image: linear-gradient(to left, rgba(143, 193, 224, 0.623), rgba(45, 86, 112, 0.795), rgba(42, 73, 94, 0.925));
}

.card-wrapper {
  padding-top: 50px;
}
.card-wrapper h2 {
  font-size: 36px;
  line-height: 39px;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}
.card-wrapper .row {
  background-color: rgb(118, 168, 212);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-wrapper .row .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32.32%;
          flex: 0 0 32.32%;
  width: 32.32%;
  max-height: 300px;
  height: 250px;
  border: 2px solid yellow;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .banner-section h1 {
    font-size: 44px;
    line-height: 47px;
  }
  .banner-section .more {
    font-size: 18px;
    line-height: 21px;
  }
  .banner-section .col-wrapper {
    padding-top: 120px;
  }
}
@media (max-width: 992px) {
  .banner-section h1 {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 7px;
  }
  .banner-section .more {
    font-size: 16px;
    line-height: 19px;
  }
  .banner-section .col-wrapper {
    padding-top: 135px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .banner-section h1 {
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 7px;
  }
  .banner-section .more {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 90%;
  }

  .banner-section {
    background-size: cover;
    height: 80vh;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 138, 197, 0.459)), color-stop(rgba(39, 81, 105, 0.795)), to(rgba(26, 70, 99, 0.925)));
    background-image: linear-gradient(to top, rgba(44, 138, 197, 0.459), rgba(39, 81, 105, 0.795), rgba(26, 70, 99, 0.925));
  }

  .banner-section .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .banner-section .col-6 {
    width: 100%;
  }
  .banner-section h1 {
    font-size: 26px;
    line-height: 29px;
    margin-bottom: 7px;
  }
  .banner-section .more {
    font-size: 14px;
    line-height: 17px;
  }
  .banner-section .col-wrapper {
    padding-top: 50px;
  }
  .banner-section .js-img {
    background-size: 180px;
    background-position: center center;
    margin-top: 40px;
  }
}