.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.banner-section {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(143, 193, 224, 0.623)), color-stop(rgba(45, 86, 112, 0.795)), to(rgba(42, 73, 94, 0.925))), url("../images/Banner/section1.png");
  background-image: linear-gradient(to left, rgba(143, 193, 224, 0.623), rgba(45, 86, 112, 0.795), rgba(42, 73, 94, 0.925)), url("../images/Banner/section1.png");
  background-size: cover;
  height: 85vh;
  background-position: center;
  overflow: hidden;
}
.banner-section .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}
.banner-section .col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-section h1 {
  font-size: 52px;
  font-weight: 600;
  color: white;
  line-height: 66px;
  letter-spacing: 0.3rem;
  margin-bottom: 10px;
}
.banner-section .more {
  color: white;
  font-size: 22px;
  line-height: 23px;
}
.banner-section .js-img {
  text-align: right;
  background-image: url("../images/Banner/js.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right center;
  height: 100%;
  width: 100%;
}

.card-section {
  background-color: rgb(34, 34, 34);
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(143, 193, 224, 0.623)), color-stop(rgba(45, 86, 112, 0.795)), to(rgba(42, 73, 94, 0.925)));
  background-image: linear-gradient(to left, rgba(143, 193, 224, 0.623), rgba(45, 86, 112, 0.795), rgba(42, 73, 94, 0.925));
}

.card-wrapper {
  padding-top: 50px;
  padding-bottom: 100px;
}
.card-wrapper h2 {
  font-size: 36px;
  line-height: 39px;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}
.card-wrapper .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slick-list{
  margin:30px 0px  20px 50px;
}
.card-wrapper .row .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  width: 300px;
  max-height: 300px;
  min-height: 270px;
  border: none;
  border-radius: 10px;
  margin-bottom: 25px;
  background: transparent;
  padding: 0px;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.slick-next {
  right: 0px;
}
.slick-prev {
   left: 0px; 
}
.card-wrapper .row .card-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 100px;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14px 10px;
  background-color: rgba(76, 145, 167, 0.2);
  border-radius: 0px 0px 10px 10px;
}
.card-wrapper .row h3 {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  margin-bottom: 9px;
  color: rgb(255, 255, 255);
  letter-spacing: normal;
}
.card-wrapper .row p {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
}
.card-wrapper .row .card-img {
  width: 100%;
  height: 100%;
  min-height: 200px;
}
.card-wrapper .row .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.card-wrapper .row .card:hover .hv {
  color: rgb(130, 209, 219);
}

.show-more {
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 0.8px;
  width: 200px;
  display: block;
  border: none;
  color: rgb(255, 255, 255);
}

.show-more:hover {
  color: rgb(190, 229, 236);
}

@media (max-width: 1200px) {
  .banner-section h1 {
    font-size: 44px;
    line-height: 47px;
  }
  .banner-section .more {
    font-size: 18px;
    line-height: 21px;
  }

  .card-section .container {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .banner-section h1 {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 7px;
  }
  .banner-section .more {
    font-size: 16px;
    line-height: 19px;
  }
  .slick-list{
    margin:40px 0px  20px 20px;
  }
  .card-wrapper .row .card-img {
  
    min-height: 186px;
}

  .card-wrapper h2 {
    font-size: 26px;
    line-height: 29px;
  }
  .card-wrapper .row .card {
            flex: 0 0 250px;
    width: 250px;
    max-height: 260px;
    margin: 0 auto;
    min-height: 260px;
  }
  .card-wrapper .row h3 {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 6px;
  }
  .card-wrapper .row p {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 2px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .slick-list{
    margin:0px 0px  0px 0px;
  }
  .banner-section {
    height: 65vh;
  }
  .banner-section h1 {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 7px;
  }
  .banner-section .more {
    font-size: 14px;
    line-height: 17px;
  }
  .card-wrapper .row{
    overflow: hidden;
  }

  .card-wrapper .row .card {
    max-height: 200px;
    min-height: 230px;

  }
  .card-wrapper .row .card-img {
    height: 165px;
  }
  .card-wrapper .row h3 {
    font-size: 16px;
    line-height: 19px;
  }
  .card-wrapper .row p {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 90%;
  }

  .banner-section {
    background-size: cover;
    height: 70vh;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 138, 197, 0.459)), color-stop(rgba(45, 93, 121, 0.699)), to(rgba(57, 107, 141, 0.76)));
    background-image: linear-gradient(to top, rgba(44, 138, 197, 0.459), rgba(45, 93, 121, 0.699), rgba(57, 107, 141, 0.76));
  }
  .banner-section .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .banner-section .col-6 {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .banner-section h1 {
    font-size: 26px;
    line-height: 29px;
    margin-bottom: 7px;
  }
  .banner-section .more {
    font-size: 14px;
    line-height: 17px;
  }
  .banner-section .js-img {
    background-size: 180px;
    background-position: center center;
    margin-top: 40px;
  }

  .card-section {
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 138, 197, 0.432)), color-stop(rgba(39, 81, 105, 0.795)), to(rgba(26, 70, 99, 0.925)));
    background-image: linear-gradient(to bottom, rgba(44, 138, 197, 0.432), rgba(39, 81, 105, 0.795), rgba(26, 70, 99, 0.925));
  }
  .card-section .container {
    width: 100%;
  }

  .card-wrapper .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-wrapper .row .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
            min-height: 255px;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}